* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/05/11/gradient-wallpaper.jpg'); background-image: no-repeat;
}

.container {
    position: relative;
    width: 450px;
    height: 450px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 6px 6px 10px #00000033, inset 6px 6px 10px #ffffff0f;
}

.container h3 {
    color: #0066ff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 90px;
    font-size: 28px;
}

.container p {
    margin-top: 65px;
    color: #0066ff;
    font-size: 58px;
}

.container button {
    cursor: pointer;
    margin: 70px 5px 0;
    width: 80px;
    height: 35px;
    background: transparent;
    color: #0066ff;
    border: 1px solid #0066ff;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .4s;
}

.container button:hover {
    background: #fa4700;
    color: #1d1c1c;
}
